<div [formGroup]="parentFormGroup">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input google-place (placeSelected)="setPlace($event)" [status]="nameControl.touched ? (nameControl.invalid  ? 'danger' : 'success') : 'basic'" nbInput fullWidth shape="round" id="name" type="text" placeholder="Business Name" formControlName="name">
        <nb-icon *ngIf="placeSet" (click)="unsetPlace()"  class="delete" status="danger" icon="close-circle"></nb-icon>
        <ng-container *ngIf="nameControl.invalid && nameControl.touched">
          <p class="caption status-danger" *ngIf="!!nameControl.errors?.required">Business Name is required!</p>
          <p class="caption status-danger" *ngIf="!!nameControl.errors?.minlength">Business Name must be at least 2 letters!</p>
        </ng-container>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <input (focus)="focusWebsiteInput()" [value]="websiteControl.value | www: websiteFormFocused" [status]="websiteControl.touched ? (websiteControl.invalid  ? 'danger' : 'success') : 'basic'" nbInput fullWidth shape="round" id="website" type="url" placeholder="Business Website" formControlName="website">
        <ng-container *ngIf="websiteControl.invalid && websiteControl.touched">
          <p class="caption status-danger" *ngIf="!!websiteControl.errors?.required">Website URL is required!</p>
          <p class="caption status-danger" *ngIf="!!websiteControl.errors?.pattern">Not a valid URL!</p>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea [status]="descriptionControl.touched ? (descriptionControl.invalid  ? 'danger' : 'success') : 'basic'" rows="5" nbInput fullWidth shape="round" id="description" placeholder="Business Description" class="form-control"
          formControlName="description"></textarea>
        <ng-container *ngIf="descriptionControl.invalid && descriptionControl.touched">
          <p class="caption status-danger" *ngIf="!!descriptionControl.errors?.required">Business Description is required!</p>
          <p class="caption status-danger" *ngIf="!!descriptionControl.errors?.minlength">Description must be at least 25 characters!</p>
        </ng-container>
      </div>
    </div>
  </div>

</div>

