<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>

      <nb-step [stepControl]="profileForm" label="Profile">
        <form [formGroup]="profileForm" (ngSubmit)="profileSubmit()" class="step-container">
          <h4 class="lorem">
            Alright, lets get started! First lets get some basic information about your business.
          </h4>
          <app-profile-form (placeSelected)="setPlace($event)" [parentFormGroup]="profileForm"></app-profile-form>
          <button disabled nbButton nbStepperNext>prev</button>
          <button [disabled]="profileForm.invalid" nbButton nbStepperNext>next</button>
        </form>
      </nb-step>

      <nb-step [stepControl]="payFacBusinessForm" label="Business Info">
        <form [formGroup]="payFacBusinessForm" (ngSubmit)="payFacBusinessSubmit()" class="step-container">
          <h4 class="lorem">
            Great, we are on our way! Next, lets get some information about your business so you can get paid!
          </h4>
          <app-payfac-business-form [googlePlace]="googlePlace" [parentFormGroup]="payFacBusinessForm"></app-payfac-business-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button [disabled]="payFacBusinessForm.invalid" nbButton nbStepperNext>next</button>
        </form>
      </nb-step>

      <!-- <nb-step [stepControl]="payFacOwnerForm" label="Owner Info">
        <form [formGroup]="payFacOwnerForm" (ngSubmit)="payFacOwnerSubmit()" class="step-container">
          <h4 class="lorem">
            Looking good! We are almost done! Help us out with some info about the ownership of your business.
          </h4>
          <p class="lorem">
            Please add every person that has a 25% stake or higher in your business.
          </p>
          <app-payfac-owner-form (ownerAdded)="addOwner($event)" [parentFormGroup]="payFacOwnerForm"></app-payfac-owner-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button [disabled]="owners.length === 0" nbButton nbStepperNext>next</button>
        </form>
      </nb-step> -->

      <!-- <nb-step [stepControl]="bankForm" label="Banking Info">
        <form [formGroup]="bankForm" (ngSubmit)="bankFormSubmit()" class="step-container">
          <h4 class="lorem">
            Almost done! Now all we need is the banking information for your business, that way we know where to deposit your transactions!
          </h4>
          <app-bank-form [parentFormGroup]="bankForm"></app-bank-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button [disabled]="bankForm.invalid" nbButton nbStepperNext>next</button>
        </form>
      </nb-step> -->

      <!-- <nb-step [stepControl]="photosForm" label="Logo and Banner">
        <form [formGroup]="photosForm" (ngSubmit)="photosFormSubmit()" class="step-container">
          <h4 class="lorem">
            Alright! Let's get your Logo and Banner so customers know who you are!
          </h4>
          <app-photo-form [parentFormGroup]="photosForm"></app-photo-form>
          <button nbButton nbStepperPrevious>prev</button>
          <button [disabled]="photosForm.invalid" nbButton nbStepperNext>next</button>
        </form>
      </nb-step> -->

    </nb-stepper>
  </nb-card-body>
</nb-card>
