<nb-card class="card-width">
  <nb-card-body>
    <span class="h4 customer-full-name">{{ customer.firstName }} {{ customer.lastName }}</span>
    <span class="h4 customer-first-name">{{ customer.firstName }}</span>
    <span class="transaction-status">Status: {{ transaction.status | uppercase }}</span>

    <div class="customer-photo">
      <nb-user class="photo" size="medium" [picture]="customer.photo.smallUrl" onlyPicture></nb-user>
    </div>
    <div class="transaction-details">
      <nb-list>
        <nb-list-item class="item product" *ngFor="let product of transaction.purchasedItems">
          <span>{{ product.name }}</span>
          <span>{{ product.price / 100 | currency }}</span>
        </nb-list-item>

        <nb-list-item class="item bottom-start">
          <span>Subtotal</span>
          <span>{{ transaction.netSales / 100 | currency }}</span>
        </nb-list-item>
        <nb-list-item class="item bottom-end">
          <span>Tax</span>
          <span>{{ transaction.tax / 100 | currency }}</span>
        </nb-list-item>
        <nb-list-item *ngIf="transaction.tip && transaction.tip != 0" class="item bottom-end">
          <span>Tip</span>
          <span>{{ transaction.tip / 100 | currency }}</span>
        </nb-list-item>
        <nb-list-item class="item bottom-end">
          <span>Total</span>
          <span>{{ transaction.total / 100 | currency }}</span>
        </nb-list-item>
        <nb-list-item class="item refund bottom-end" *ngFor="let refund of transaction.refunds">
          <span>Refund</span>
          <span>({{ refund.total / 100 | currency }})</span>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>
  <nb-card-footer class="footer">
    <button class="cancel" nbButton status="primary" (click)="close()">Close</button>
  </nb-card-footer>
</nb-card>
