<div [formGroup]="parentFormGroup">
  <div class="row">
    <div class="col-sm-12 pad-b">
      <div class="form-group">
        <div [ngClass]="parentFormGroup.enabled ? 'value' : 'value opacity'">{{ radiusControl.value }}</div>
        <input [ngClass]="parentFormGroup.enabled ? '' : 'opacity'" type="range" step="5" min="50" max="200" value="50" formControlName="radius">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="radiusControl.invalid && radiusControl.touched">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="form-group">
        <p class="caption status-danger" *ngIf="!!radiusControl.errors?.required">A Geo Fence Radius is required!</p>
        <p class="caption status-danger" *ngIf="!!radiusControl.errors?.min">Geo Fence Radius must be at least 50!</p>
        <p class="caption status-danger" *ngIf="!!radiusControl.errors?.max">Geo Fence Radius must be less than 200!</p>
        <p class="caption status-danger" *ngIf="!!radiusControl.errors?.isNumber">Geo Fence Radius must be a number!</p>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="business != null && business.location.lat != null && business.location.lng != null" class="form-group">
        <agm-map [zoom]="18" [latitude]="business.location.lat" [longitude]="business.location.lng">
          <agm-circle (dragEnd)="setNewCoords($event)" [circleDraggable]="parentFormGroup.enabled ? true : false" [latitude]="business.location.lat" [longitude]="business.location.lng" [radius]="radiusControl.value"></agm-circle>
        </agm-map>
      </div>
    </div>
  </div>
</div>
