@import '../../styles/themes';

@include nb-install-component() {
  nb-card {
    overflow: hidden;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }

  .text-link {
    color: nb-theme(link-text-color);
    cursor: pointer;
  }
}