@import '../../styles/themes';

@include nb-install-component() {
  nb-card {
    flex: 1 1 45%;
    margin: 0 2.5%;

    &.scroll {
      max-height: 30rem;
    }
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }

  .caption {
    font-size: 1rem;
  }

  .float-r {
    float: right;
  }

  .ml-2 {
    margin-left: 2rem;
  }

}
