<nb-card>
  <nb-card-header>
    <span>Sale Totals</span>
    <span>
      <h5>{{ range.start | date }} - {{ range.end | date }}</h5>
    </span>
    <nb-select [selected]="period" (selectedChange)="changePeriod($event)">
      <nb-option *ngFor="let period of periods" [value]="period">{{ period.title }}</nb-option>
    </nb-select>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-xxxl-3 col-md-6" *ngFor="let query of queries">
        <sales-card [query]="query" [range]="range"></sales-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
