<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card accent="primary">
      <nb-card-header class="title">Search for Transaction</nb-card-header>
      <nb-card-body>
        <form class="form-inline" [formGroup]="transactionIdForm" (ngSubmit)="doSearch()">
          <input
            type="text"
            nbInput
            fullWidth
            shape="round"
            placeholder="Transaction ID"
            formControlName="transactionId"
            [dropSpecialCharacters]="false"
            mask="A{8}-A{4}-A{4}-A{4}-A{12}"
          />
          <button
            [disabled]="transactionIdForm.invalid || loading"
            [nbSpinner]="loading"
            type="submit"
            nbButton
            status="primary"
          >
            Search
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-card-front>

  <nb-card-back>
    <nb-card [accent]="transaction != undefined ? 'success' : 'danger'">
      <nb-card-header>
        <span class="title">Search for Transaction</span>
        <span class="chevron fs-2" (click)="flip()"><nb-icon icon="chevron-right-outline"></nb-icon></span>
      </nb-card-header>
      <nb-card-body *ngIf="transaction != undefined">
        <assigned-transaction [transaction]="transaction"></assigned-transaction>
      </nb-card-body>
      <nb-card-body class="center-text" *ngIf="transaction == undefined">
        Unable to find a transaction matching that id!
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
