@import '../../styles/themes';

@include nb-install-component() {
  nb-card {
    flex: 1 1 45%;
    margin: 0 2.5%;

    &.scroll {
      height: 30rem;
    }
  }

  .back-body {
    text-align: center;
  }

  .mr-2 {
    margin-right: 2rem;
  }

  .ml-2 {
    margin-left: 2rem;
  }

  .calendar {
    font-size: 2rem;

  }

  .white-calendar {
    color: #ffffff
  }

  .float-r {
    float: right;
  }

  .text-link {
    color: nb-theme(link-text-color);
  }
}
