<nb-card class="scroll">
  <nb-card-header>
    <span class="float-r">
      <nb-select multiple [selected]="selectedOptions" (selectedChange)="changeSelection($event)"
        placeholder="Select Filters">
        <nb-option *ngFor="let option of selectionOptions" [value]="option" [disabled]="option.disabled">{{ option.title }}
        </nb-option>
      </nb-select>
    </span>
    <h6>Transactions List</h6>
    <div (click)="showCalendarDialog()" *ngIf="dateRange.start == undefined && dateRange.end == undefined" class="text-link">Set Date Range</div>
    <div *ngIf="dateRange.start != undefined && dateRange.end != undefined">{{ dateRange.start | date }} - {{ dateRange.end | date }}
      <nb-icon (click)="clearDates()" status="danger" icon="close-circle-outline" class="ml-2"></nb-icon>
    </div>

  </nb-card-header>
  <nb-card-body>
    <nb-list nbInfiniteList [threshold]="500" (bottomThreshold)="getMoreTransactions()">
      <nb-list-item class="contact" *ngFor="let transaction of transactions; trackBy: trackByFn">
        <nb-user  [picture]="transaction.customer.photo.smallUrl"
                  [name]="transaction.customer.firstName + ' ' + transaction.customer.lastName"
                  [title]="'Bill Status: ' + transaction.transaction.status"
                  size="large">
        </nb-user>
        <span (click)="showTransactionDetails(transaction)" class="caption text-link">{{ transaction.transaction.status !== 'paid' ? 'Bill updated at: ' : 'Bill paid at: ' }}
        {{ transaction.transaction.updatedAt | date: 'shortTime' }}</span>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
