@import '../../styles/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);

    @include nb-ltr(padding-right, 4rem);
    @include nb-rtl(padding-left, 4rem);
  }

  nb-card {
    &.scroll {
      max-height: 30rem;
    }
  }

  .back-body {
    text-align: center;
  }

  .mr-2 {
    margin-right: 2rem;
  }

  .ml-2 {
    margin-left: 2rem;
  }

  .trash {
    font-size: 2rem;

  }

  .white-icon {
    color: #ffffff
  }
}
