<nb-card>
  <nb-card-header>
    <span>{{ selectedStatusFormControl.value.value.startsWith('historic') ? 'Historic' : 'Active' }} Customers</span>
    <span *ngIf="range.start != undefined && range.end != undefined">{{ range.start | date }} - {{ range.end | date }}<nb-icon (click)="removeDates()" status="danger" icon="close-circle-outline" class="ml-2"></nb-icon></span>
    <span>
      <nb-select [formControl]="selectedStatusFormControl">
        <nb-option-group title="Active Customer">
          <nb-option *ngFor="let option of selectionOptionsActive" [value]="option">{{ option.title }}</nb-option>
        </nb-option-group>

        <nb-option-group title="Historic Customer">
          <nb-option *ngFor="let option of selectionOptionsHistoric" [value]="option">{{ option.title }}</nb-option>
        </nb-option-group>
      </nb-select>
    </span>
  </nb-card-header>
  <nb-card-body>
    <customer-list [query]="fullQuery"></customer-list>
  </nb-card-body>
</nb-card>
